body{
    font-size: $default-font-size;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

main{
    padding-top: 50px;
}