@import '../../../sass/base';

.MenuItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    

    a{
        color: map-get($cores, 'branco');
        background: map-get($cores, 'cinza-escuro');
        transition: all 300ms ease-in-out 0ms;
        min-height: 50px;
        display: flex;
        padding: 0 10px;
        align-items: center;
        
        &.active{
            background: map-get($cores, 'preto');
        }

        &:hover{
            color: map-get($cores, 'cinza-claro');
            background: map-get($cores, 'preto');
        }
    }
}