@import '../../../sass/base';

.Button{
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 0px map-get($cores, 'cinza-escuro');
    transition: all 300ms ease-in-out 0ms;
    cursor: pointer;

    &:active{
        box-shadow: inset 1px 1px 1px 0px map-get($cores, 'cinza-escuro');
    }

    &.default{
        border-color: map-get($cores, 'cinza-medio');
        background: map-get($cores, 'branco');
        color: map-get($cores, 'preto');
    
        &:hover{
            background: map-get($cores, 'cinza-claro');
        }
    }

    &.edit{
        border-color: map-get($cores, 'cinza-medio');
        background: map-get($cores, 'branco');
        color: map-get($cores, 'preto');
    
        &:hover{
            background: map-get($cores, 'cinza-claro');
        }
    }

    &.delete{
        border-color: map-get($cores, 'cinza-medio');
        background: map-get($cores, 'branco');
        color: map-get($cores, 'preto');
    
        &:hover{
            background: map-get($cores, 'cinza-claro');
        }
    }

    &.activate{
        border-color: map-get($cores, 'cinza-medio');
        background: map-get($cores, 'branco');
        color: map-get($cores, 'preto');
    
        &:hover{
            background: map-get($cores, 'cinza-claro');
        }
    }
}