@import '../../../sass/base';


.inputGroup{
    position: relative;
    box-sizing: border-box;
    padding: 18px 15px;
    margin-bottom: 10px;

    label{
        position: absolute;
        top: 18px;
        left:15px;
        padding: 0 5px;
        box-sizing: border-box;
        display: inline-block;
        z-index: -1;
        transition: all 100ms ease-in-out 0ms;

        &.active{
            transform: translate(-5px, -18px);
            font-size: 0.8em;
            color: map-get($cores, 'azul-claro')
        }
    }

    input{
        &.InputElement{
            border: none;
            border-bottom: 1px solid map-get($cores, 'cinza-medio');
            background: transparent;
            outline: none;
            position: relative;

            
        }
    }

}


