@import '../../../sass/base';


.input-group{
    position: relative;

    label{
        position: absolute;
        bottom: 1px;
        left:0;
        padding: 0 5px;
        box-sizing: border-box;
        display: inline-block;
        z-index: -1;
    }

    .active{
        color: red;
    }
}

.InputElement{
    border: none;
    border-bottom: 1px solid map-get($cores, 'cinza-medio');
}